*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'my-font';


}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    width: 500px;
    height: 500px;
    background-color: #C5B399;
    border-radius: 6px;

    padding: 16px;
}

.board-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    grid-gap: 16px;
}

.board-item {
    width: 100%;
    aspect-ratio: 1;

    border-radius: 3px;
    
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24pt;
}

.backgroud-clean {
    background-color: #CCC0B5;
}

.backgroud-white {
    color: #776E65;
    background-color: #EEE4DA;
}

.board-grid > div::before {
    content: "";
    padding-bottom: 100%;
    display: block;
  }